@media (max-width: 768px){
	.header{
		position: relative;
	}
	.firstlevel-container{
		padding: 0;
		width: 100%;
	}
	.dd-icon{
		display: none;
		padding-right: 15px;
	}
	.top-icon{
		float: right;
	}
	.navbar {
		width: 100%;
	}
	.navbar a{
		border-bottom: 1px #ddd solid;
		display: block;
	    text-align: left;
	}
	.dd-container:not(.firstlevel-container) > .dropdown-content{
		background-color: #f9f9f9;
		position: initial;
	}
	.dropdown-content{
		background-color: #999;
		box-shadow: unset;
		position: inherit;
		width: 100%;
	}
	.dd-link::after{
		display: block;
	}
}