@media (max-width: 768px){
	.firstlevel-container{
		padding: 0;
		width: 100%;
	}
	.dd-icon{
		padding-right: 15px;
		float: right;
	}
	.navbar-mobile-ico{
		display: block;
	}
	.navbar {
		display: none;
	}
	.navbar a{
		border-bottom: 1px #ddd solid;
		display: block;
	    text-align: left;
	}
	.navbar-mobile-ico:hover + .navbar,
	.navbar-mobile-ico:active + .navbar{
		display: block;
		width: 100%;
	}
	.dd-container:not(.firstlevel-container) > .dropdown-content{
		background-color: #f9f9f9;
		position: initial;
	}
	.dropdown-content{
		background-color: #999;
		box-shadow: unset;
		position: inherit;
		width: 100%;
	}

}