body{
	background-color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}
.navbar {
	background-color: #333;
	overflow: hidden;
}
.navbar a {
	padding: 15px;
	color: #fff;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}


/*Burger Menu*/
.navbar-mobile-ico{
border: 1px #333 solid;
    border-radius: 3px;
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    display: none;
    font-size: 22px;
    position: absolute;
    right: 15px;
    text-decoration: none;
    top: 8px;
}


/*dropdown icons*/
.dd-icon{
	margin-left: 5px;
	float: right;	
}
.top-icon{
	float: unset;
}


/*dropdown container/content styling*/
.dd-container:not(.firstlevel-container){
	position:relative;
}
.dd-container:not(.firstlevel-container) > .dropdown-content{
	left: 160px;
	position: absolute;
	top: 0;
}
.firstlevel-container {
	padding: 15px;
	display: inline-block;
}
.dropdown-content {
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	display: none;
	min-width: 160px;
	position: absolute;
	top:50px;
	z-index: 1;
}
.dropdown-content a {
	border-bottom: 1px #ddd solid;
	padding: 10px 15px;
	color: #000;
	display: block;
	text-align: left;
}


/*Change state*/
.navbar a:hover {
	background-color: #fff;
	color: #000;
}
.dropdown-content a:hover {
	background-color: #ddd;
}
.dd-container:hover > .dropdown-content {
	display: block;
}