body{
	background-color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}
.navbar {
	background-color: #333;
	overflow: hidden;
}
.navbar a {
	color: #fff;
	padding: 15px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}


/*dropdown icons*/
.dd-icon{
	float: right;
	margin-left: 5px;
	
}
.top-icon{
	float: unset;
}


/*dropdown container/content styling*/
.dd-container:not(.firstlevel-container){
	position:relative;
}
.dd-container:not(.firstlevel-container) > .dropdown-content{
	left: 160px;
	position: absolute;
	top: 0;
}
.firstlevel-container {
	display: inline-block;
	padding: 15px;

}
.dropdown-content {
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	display: none;
	min-width: 160px;
	position: absolute;
	top:50px;
	z-index: 1;
}
.dropdown-content a {
	border-bottom: 1px #ddd solid;
	color: #000;
	display: block;
	padding: 10px 15px;
	text-align: left;
}
.dd-link::after{
	display: none;
}


/*Change state*/
.navbar a:hover {
	background-color: #fff;
	color: #000;
}
.dropdown-content a:hover {
	background-color: #ddd;
}
.dd-container:hover > .dropdown-content {
	display: block;
}
.dd-link::after {
	content: "\25bc";
	float: right;
}
.dd-link:hover::after{
	content: "\25b2";
	float: right;
}